.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: theme('padding.container');
}

.title {
    font-size: theme('fontSize.xl');
    font-weight: theme('fontWeight.semibold');
    color: theme('colors.secondary.main');
}

.card_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.card {
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.09);
    padding: theme('padding.card');
    color: theme('colors.primary.main');
    background-color: theme('colors.primary.light');
}

.card:hover {
    color: theme('colors.secondary.main');
    background-color: theme('colors.secondary.light');
}

.full_year {
    font-size: theme('fontSize.lg');
    font-weight: theme('fontWeight.semibold');
}

.short_year {
    font-size: theme('fontSize.md');
    font-weight: theme('fontWeight.medium');
}