.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: theme('padding.container');
    background-color: theme('colors.background.primary');
}

.title {
    font-size: theme('fontSize.xl');
    font-weight: theme('fontWeight.semibold');
    color: theme('colors.secondary.main');
}


.card_container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: theme('gap.card');
}

@media (max-width: theme('screens.lg')) {
    .card_container {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: theme('screens.md')) {
    .card_container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: theme('screens.sm')) {
    .card_container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: theme('screens.xs')) {
    .card_container {
        grid-template-columns: 1fr;
    }
}