.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form_row {
    display: flex;
    align-items: center;
    gap: 20px;
}

.title {
    line-height: 1;
    font-size: theme('fontSize.lg');
    color: theme('colors.secondary.main');
    font-weight: theme('fontWeight.medium');
}

@media (max-width: theme('screens.sm')) {
    .form_row {
        flex-direction: column;
        align-items: flex-start;
    }
}