.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: theme('padding.container');
}

.title {
    font-size: 2rem;
    line-height: 1;
    text-transform: capitalize;
    font-weight: theme('fontWeight.bold');
    color: theme('colors.secondary.main');
}

.description {
    max-width: 80ch;
    font-size: 1rem;
    word-wrap: break-word;
    color: theme('colors.text.secondary');
}

.card_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.09);
    padding: theme('padding.card');
}

.card_image {
    border-radius: 100%;
    width: 13rem;
    height: 13rem;
    object-fit: cover;
}

.card_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card_content h2 {
    font-size: theme('fontSize.lg');
    font-weight: theme('fontWeight.medium')
}

.card_content p {
    font-size: theme('fontSize.base');
    text-transform: capitalize;
}

.card_contacts {
    display: flex;
    align-items: center;
    gap: 10px;
}

.card_actions {
    display: flex;
    align-items: center;
    gap: 10px;
}

.social_icon {
    font-size: theme('fontSize.lg');
}


@media (max-width: theme('screens.lg')) {
    .card_container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: theme('screens.md')) {
    .card_container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: theme('screens.xs')) {
    .card_container {
        grid-template-columns: 1fr;
    }
}