.button {
    cursor: pointer;
    font-size: theme('fontSize.lg');
    font-weight: theme('fontWeight.medium');
    color: theme('colors.primary.main');
    display: flex;
    align-items: center;
    gap: 5px;
}

.button:hover {
    color: theme('colors.secondary.main');

}

.primary {
    background-color: theme('colors.primary.light') !important;
    color: theme('colors.primary.main');
}

.primary:hover {
    background-color: theme('colors.secondary.light') !important;
    color: theme('colors.secondary.main');
}

.secondary {
    background-color: theme('colors.secondary.light') !important;
    color: theme('colors.secondary.main');
}

.secondary:hover {
    background-color: theme('colors.primary.light') !important;
    color: theme('colors.primary.main');
}

.icon {
    width: 1em;
    height: 1em;
}