.root {
    width: 100%;
    max-width: theme('screens.xxl');
    margin: 0px auto;
}

.container {
    width: 100%;
    min-height: 75vh;
    background-color: theme('colors.background.default');
    /* padding: theme('padding.container');
    padding-top: 0; */
}