.container {
    display: flex;
    flex-direction: column;
    color: theme('colors.primary.main');
}

.error {
    color: theme('colors.error.main');
}

.label {
    font-size: theme('fontSize.lg');
}

.helper_message {
    font-size: theme('fontSize.sm');
    color: theme('colors.text.secondary');
}

.input_field {
    padding: 8px 16px;
    border: 1px solid;
    border-radius: 5px;
    outline: none;
}