.button {
    padding: 4px;
    border-radius: 5px;
    font-size: theme('fontSize.lg');
    font-weight: theme('fontWeight.medium');
    color: theme('colors.primary.main');
}

.button:hover {
    background-color: theme('colors.primary.light');
}

.primary {
    background-color: theme('colors.primary.light') !important;
    color: theme('colors.primary.main');
}

.primary:hover {
    background-color: theme('colors.secondary.light') !important;
    color: theme('colors.secondary.main');
}

.secondary {
    background-color: theme('colors.secondary.light') !important;
    color: theme('colors.secondary.main');
}

.secondary:hover {
    background-color: theme('colors.primary.light') !important;
    color: theme('colors.primary.main');
}

.icon {
    height: 1.5em;
    width: 1.5em;
    fill: none;
}