.container {
    display: flex;
    flex-direction: column;
    gap: theme('padding.container');
}

.wraper {
    display: flex;
    flex-direction: column;
    gap: theme('padding.card');
    background-color: theme("colors.background.white");
    border-radius: 6px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.06);
    padding: theme('padding.card');
} 

hr {
    display: block;
    height: 1px;
    border-top: 1px solid theme('colors.text.primary');
}

.section_title {
    color: theme('colors.text.primary');
    text-transform: capitalize;
    font-size: theme('fontSize.lg');
    font-weight: theme('fontWeight.semibold');
} 

.info_wraper {
    display: flex;
    flex-direction: column;
    gap: 5px
} 

.info_wraper span {
   color: theme("colors.primary.dark");
   font-weight: theme("fontWeight.medium");
}




