.root {
    width: 100%;
}

.container {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr auto 2fr;
    gap: theme('gap.card');
}

.column {
    display: flex;
    flex-direction: column;
    gap: 20px
}

.horizontal_line {
    margin: auto 0px;
    width: 1px;
    height: 20em;
    background-color: theme('colors.primary.main');
}

.vertical_line {
    margin: 0px auto;
    width: 15em;
    height: 1px;
    background-color: theme('colors.secondary.main');
}

.logo {
    width: 10em;
    margin: 0px auto;
    /* margin-bottom: 20px;*/
}

@media (min-width: theme('screens.lg')) {
    .root {
        min-width: theme('screens.md');
    }
}

@media (max-width: theme('screens.md')) {
    .container {
        display: flex;
        flex-direction: column;
    }

    .horizontal_line,
    .vertical_line {
        display: none;
    }
}