.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title {
    font-size: 1.5rem;
    line-height: 1;
    color: theme('colors.primary.main');
    font-weight: theme('fontWeight.medium');
}