.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.06);
    padding: theme('padding.card');
    background-color: theme('colors.background.white');
}

.header_left {
    display: flex;
    align-items: center;
    gap: 20px;
    color: theme('colors.text.secondary')
}