.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.06);
    padding: theme('padding.card');
}

.header,
.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_info,
.keyword_wraper {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: theme("fontSize.base");
    color: theme('colors.text.secondary');
}

.header_icon {
    width: 3.5em;
    height: 3.5em;
    border-radius: 10px;
    border: 1px solid theme('colors.primary.light');
}

.header_details {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.title {
    font-size: theme("fontSize.lg");
    font-weight: theme('fontWeight.semibold');
    color: theme('colors.primary.main');
}

.keyword {
    padding: 2px 8px;
    border-radius: 5px;
    background-color: theme("colors.primary.light");
}

.description {
    color: theme('colors.text.secondary');
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.time {
    font-size: theme("fontSize.base");
    color: theme('colors.text.secondary');
}


@media(max-width: theme('screens.sm')) {

    .subtitles,
    .keyword_wraper {
        flex-wrap: wrap;
    }
}