.container {
    padding: theme('padding.container');
    background: theme("colors.background.paper");
}

.card_wraper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: theme('padding.card');;
}

@media (max-width: theme('screens.lg')) {
    .card_wraper  {
        grid-template-columns: 1fr ;
    }
}


